<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <style>
         table {
         font-family: arial, sans-serif;
         border-collapse: collapse;
         width: 100%;
         }
         td, th {
         border: 1px solid #dddddd;
         text-align: left;
         padding: 8px;
         }
         tr:nth-child(even) {
         background-color: #dddddd;
         }
      </style>
      <title>MY APP</title>
      <script>
function validateForm() {
    var animalname = document.forms["myForm"]["name"].value;
    var animaleimage = document.forms["myForm"]["image_path"].value;
    if (animalname == "") {
        alert("Name is empty");
        return false;
    }
    if (animaleimage == "") {
        alert("Image is empty");
        return false;
    }
}
</script>
   </head>
   <body>
      <h1>
         Add Your Data
      </h1>
      </br>
      <form name="myForm" action="/datalist" onsubmit="return validateForm()"  method="POST">
         <input type="text" placeholder="Name" name="name">
         <input type="text" placeholder="Image path" name="image_path">
         <input type="text" placeholder="Country" name="image_path">
         <button type="submit">Add</button>
      </form>
      <h1>
         Data List
      </h1>
      
      <table>
         <tr>
            <th>Name</th>
            <th>Image</th>
            <th>Country</th>
         </tr>
         <ul class="datalist">
            <% for(var i=0; i<datalist.length; i++) {%>
         
               <tr>
                  <td>
                     <h2>
                        <%= datalist[i].name %>      
                     </h2>
                  </td>
                  <td><img class="logo" src=<%= datalist[i].image_path %>  alt="My_Logo" height="150" width="150"  /></td>
                  <td></td>
               </tr>
            
            <% } %>
         </ul>
      </table>
   </body>
</html>